@font-face {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/static/fonts/fredoka-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/static/fonts/fredoka-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/static/fonts/fredoka-bold.ttf') format('truetype');
}
